@keyframes showText {
    from {
        transform: translateY(20px);
        opacity: 0;
        color: aqua;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showbox {
    from {
        transform: translateY(0px);
        opacity: 0;

    }

    to {
        transform: translateY(0px);
        opacity: 1;

    }
}

.bb {
    animation: showbox 1s;
    animation-fill-mode: both;
}

.aa {
    animation: showText 0.7s;
    animation-fill-mode: both;
}

.aa:nth-child(1) {
    animation-delay: 0.07s;
}

.aa:nth-child(2) {
    animation-delay: 0.14s;
}

.aa:nth-child(3) {
    animation-delay: 0.21s;
}

.aa:nth-child(4) {
    animation-delay: 0.30s;
}

.aa:nth-child(5) {
    animation-delay: 0.39s;
}

.aa:nth-child(6) {
    animation-delay: 0.48s;
}

.aa:nth-child(7) {
    animation-delay: 0.57s;
}

.aa:nth-child(8) {
    animation-delay: 0.66s;
}

.bb:nth-child(1) {
    animation-delay: 0.17s;
}

.bb:nth-child(2) {
    animation-delay: 0.30s;
}

.bb:nth-child(3) {
    animation-delay: 0.39s;
}

.bb:nth-child(4) {
    animation-delay: 0.52s;
}

.bb:nth-child(5) {
    animation-delay: 0.35s;
}

.bb:nth-child(6) {
    animation-delay: 0.42s;
}

.bb:nth-child(7) {
    animation-delay: 0.49s;
}

.bb:nth-child(8) {
    animation-delay: 0.56s;
}