@keyframes showText {
    from {
        transform: translateY(20px);
        opacity: 0;
        color: aqua;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showbox {
    from {
        transform: translateY(0px);
        opacity: 0;

    }

    to {
        transform: translateY(0px);
        opacity: 1;

    }
}

@keyframes hr-left {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%
    }
}

@keyframes hr-right {
    from {
        margin-right: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%
    }
}

.right {
    animation: hr-left 2s;
    animation-fill-mode: both;
}

.left {
    animation: hr-left 2s;
    animation-fill-mode: both;
}

.bb {
    animation: showbox 1s;
    animation-fill-mode: both;
}

.right {
    animation: hr-left 2s;
    animation-fill-mode: both;
}

.left {
    animation: hr-left 2s;
    animation-fill-mode: both;
}

.aa {
    animation: showText 0.16s;
    animation-fill-mode: both;
}

.aa:nth-child(1) {
    animation-delay: 0.16s;
}

.aa:nth-child(2) {
    animation-delay: 0.24s;
}

.aa:nth-child(3) {
    animation-delay: 0.31s;
}

.aa:nth-child(4) {
    animation-delay: 0.38s;
}

.aa:nth-child(5) {
    animation-delay: 0.45s;
}

.aa:nth-child(6) {
    animation-delay: 0.52s;
}

.aa:nth-child(7) {
    animation-delay: 0.59s;
}

.aa:nth-child(8) {
    animation-delay: 0.66s;
}

.bb:nth-child(1) {
    animation-delay: 0.25s;
}

.bb:nth-child(2) {
    animation-delay: 0.32s;
}

.bb:nth-child(3) {
    animation-delay: 0.39s;
}

.bb:nth-child(4) {
    animation-delay: 0.46s;
}

.bb:nth-child(5) {
    animation-delay: 0.54s;
}

.bb:nth-child(6) {
    animation-delay: 0.61s;
}

.bb:nth-child(7) {
    animation-delay: 0.66s;
}

.bb:nth-child(8) {
    animation-delay: 0.70s;
}