.anotherpic {
    padding: 10px;
    width: 270px;
    height: 300px;
    float: left;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
    margin-top: 20px;
}

.ano-group_icon5,
.ano-group_txt5 {
    z-index: 1;
    transform: translateY(20px);
    transition: all .5s ease-out;
    opacity: 0;
    color: #fff;

}

.anotherpic > .link {
    transform: scale(1);
    transition: all 0.35s ease-out;
    display: block;
    width: 250px;
    height: 300px;

}

.anotherpic:hover .link {
    transform: scale(1.07);
    filter: brightness(35%);
    transition: all 0.35s ease-in;

}

.anotherpic:hover .ano-group_icon5 {
    transform: translateY(0);
    opacity: 1;
}

.anotherpic:hover .ano-group_txt5 {
    transform: translateY(0);
    opacity: 1;
}

.like_logoA:hover .like_logoW {
    transform: scale(1.23);
}

.follow_logoA:hover .follow_logoW {
    transform: scale(1.23);
}

.follow_logoA {
    height: 35px;
}

.ano-group_icon5 {
    width: 30px;
    position: absolute;
    margin-top: -300px;

}

.ano-group_txt5 {
    width: 255px;
    position: absolute;
    margin-top: -100px;

}

.t1 {
    text-align: center;
    line-height: 20px;
    font-size: 0.9em;
    margin: 0;
    padding: 0;

}

.like_group {
    text-align: center;
    width: 100%;
    line-height: 20px;
    font-size: 13px;
    margin-top: 3px;

}

.follow_group {
    text-align: center;
    width: 100%;
    line-height: 20px;
    font-size: 13px;
    margin-top: 3px;
}

.like_icon,
.follow_icon {
    width: 10px;
}

.like_logoW {
    width: 13px;
    margin: 5px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.15s ease-out;
}

.follow_logoW {
    width: 13px;
    margin: 5px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.15s ease-out;
}

.like_cnt {
    margin-left: 5px;
}

.follow_cnt {
    margin-left: 5px;
}
