/*.feed {*/
/*    width: 1250px;*/
/*    background-color: rgba(9, 88, 167, 1);*/

/*}*/

.mainfollow-text {
    font-size:30px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

hr>.Line {
    text-align:center;
    width:80%;
}

.folpic {
    padding: 10px;
    width: 300px;
    height: 330px;
    float: left;
    overflow: hidden;
    text-align:center;
    display: inline-block;
    z-index: 3;
    cursor:pointer;
}

.group_icon,
.group_txt {
    z-index:2;
    transform: translateY(20px);
    transition: all .5s ease-out;
    opacity: 0;
    color: #fff;

}

.folpic:hover .d-block {
    transform: scale(1.07);
    filter:brightness(35%);

}
.folpic:hover .group_icon {transform: translateY(0); opacity: 1; }
.folpic:hover .group_txt {transform: translateY(0); opacity: 1;}
.like_logoA:hover .like_logoW {transform: scale(1.23);}
.follow_logoA:hover .follow_logoW {transform: scale(1.23);}

.folpic>.d-block {
    transform: scale(1);
    transition: all 0.35s ease-out;
    display: block;

}


.follow_logoA {
    height:35px;

}

.group_icon {
    width: 30px;
    position: absolute;
    top: 10px;

}

.group_txt {
    width:280px;
    position: absolute;
    bottom: 25px;
    text-align:center;

}

.t1 {
    text-align:center;
    line-height:20px;
    font-size: 0.9em;
    margin: 0;
    padding:0;

}

.like_group {
    text-align:center;
    width:100%;
    line-height:20px;
    font-size:13px;
    margin-top: 3px;

}

.follow_group {
    text-align:center;
    width:100%;
    line-height:20px;
    font-size:13px;
    margin-top: 3px;
}

.like_icon {
    width: 10px;
    vertical-align: middle;

}

.follow_icon {
    width: 10px;
    vertical-align: middle;

}

.like_logoW {
    width: 13px;
    margin: 5px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.15s ease-out;
}

.follow_logoW {
    width: 13px;
    margin: 5px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.15s ease-out;
}

.like_cnt {
    margin-left: 5px;
}

.follow_cnt {
    margin-left: 5px;
}

.feedcar {
    margin-left: 80px;

}

.feedcar>.carousel-inner {
    margin-left: 25px;
}

.feedcar>.carousel-indicators {
    margin-bottom: -30px;
    filter: invert(100%);
}

.feedcar>.carousel-control-next {
    margin-right: -50px;
    filter: invert(100%);
    width: 80px;
}

.feedcar>.carousel-control-prev {
    margin-left: -50px;
    filter: invert(100%);
    width: 80px;
}

.feedcar {
    margin-bottom: 70px;

}

/** {*/
/*    background-color: black;*/
/*}*/