.mainfollow-text {
    font-size:30px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

hr>Line {
    text-align:center;
    width:80%;
}

.folpic {
    padding: 10px;
    width: 380px;
    height: 460px;
    float: left;
    overflow: hidden;
    text-align:center;

}

.group_icon,
.group_txt {

    z-index:2;
    transform: translateY(20px);
    transition: all .5s ease-out;
    opacity: 0;
    color: #fff;

}

/*.folpic:hover ::after { opacity: 0.5; }*/
.folpic:hover .d-block {transform: scale(1.07); }
.folpic:hover .d-block { filter:brightness(35%);}
.folpic:hover .group_icon {transform: translateY(0); opacity: 1; }
.folpic:hover .group_txt {transform: translateY(0); opacity: 1;}

.folpic>.d-block {
    cursor:pointer;
    transform: scale(1);
    transition: all 0.35s ease-out;
    display: block;

}

.like_logoA,
.follow_logoA {
    height:50px;
}
.group_icon {
    width: 29%;
    height: 100px;
    position: absolute;
    top: 10px;

}

.group_txt {
    width:29%;
    position: absolute;
    bottom: 0;
    padding:30px;
    text-align:center;
    margin-bottom: 25px;
}

.t1 {
    text-align:center;
    width:100%;
    line-height:20px;
    font-size:14px;
    margin: 0;
    padding:0;
    float:right;

}

.like_group {
    text-align:center;
    width:100%;
    line-height:20px;
    font-size:13px;
    float:right;
    margin-top: 3px;

}

.follow_group {
    text-align:center;
    width:100%;
    line-height:20px;
    font-size:13px;
    float:right;
    margin-top: 3px;
}

.like_icon {
    width: 13px;
    vertical-align: middle;

}

.follow_icon {
    width: 13px;
    vertical-align: middle;

}

.like_logoW {
    width: 17px;
    float:right;
    margin: 15px;
    cursor: pointer;
    z-index: 3;
}

.follow_logoW {
    width: 20px;
    float:right;
    margin: 15px;
    cursor: pointer;
    z-index: 3;
}

.like_cnt {
    margin-left: 5px;
}

.follow_cnt {
    margin-left: 5px;
}

.feedcar {
    margin-left: 80px;

}

.feedcar>.carousel-inner {
    margin-left: 55px;
}


/** {*/
/*    background-color: black;*/
/*}*/