.Board_Posts {
  width: 800px;
  height: auto;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  display: flex;
}
.arrow_btn {
  margin-left: 20px;
  padding: 20px 0px 0px 0px;
}
.arrow_btn > button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.arrow_btn > button:hover {
  background-color: lightgray;
}
