/* Picture_Tag, PicutreQr 공용 */

.board_picture {
  width: 50%;
  height: auto;
}
.picture img {
  width: 400px;
  height: 600px;
  max-height: 600px;
  border-radius: 30px 0px 0px 0px;
}
.tag {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.board_picture_icon {
  display: flex;
}
.qr_btn {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.picture {
  height: auto;
  position: relative;
}
