.similar {
  width: 235px;
  height: 300px;
  float: left;
  margin-left: 20px;
}
.similar_img img {
  width: 235px;
  height: 235px;
  border-radius: 20px;
}
.by {
  display: flex;
  padding: 10px;
}
.nickname {
  padding: 1em;
}
