.Board_Posts {
  width: 800px;
  height: auto;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  display: flex;
}
/* 게시물 사진부분 */
.bp {
  width: 50%;
  height: auto;
}
.picture {
  height: auto;
  position: relative;
}

.picture img {
  width: 400px;
  height: 600px;
  max-height: 600px;
  border-radius: 30px 0px 0px 0px;
}

.bp1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.bp2 {
  display: flex;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* infor부분*/
.infor {
  width: 400px;
  padding: 20px 0px;
}

/* ㅡㅡㅡㅡㅡ댓글부분ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.t-wrapper {
  width: 400px;
}
.c-wrapper {
  display: flex;
  padding: 20px 0px 10px 10px;
}
.comment_btn button {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 24px 24px 24px 24px;
  font-size: 0.9em;
}

.wrapper textarea {
  width: 250px;
  height: 59px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #bfbfbf;
}
.textarea:is(:focus, :valid) {
  border-width: 2px;
  border-color: #4671ea;
  padding: 14px;
}

textarea::-webkit-scrollbar {
  width: 0px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.show-menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: 0px;
  transition: 1s;
}

.hide-menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: -376px;
  transition: 1s;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background-color: transparent;
}
.dropdown .dropdown-content {
  position: absolute;
  padding: 10px 5px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 200px;
  border-radius: 10px;
}

.modification_btn {
  background-color: white;
}
.modification_btn:hover {
  background-color: lightgray;
}
.remove_btn {
  background-color: white;
}
.remove_btn:hover {
  background-color: lightgray;
}
