footer {
    background-color: #111;
    margin: 1rem 0 0 0;
    width: 100%;
}

.inner {
    margin: 0px 112px;
    padding: 1rem 0;
}

.footer-message {
    font-weight: bold;
    color: white;
    margin: 0.3rem 0.5rem;
}

.footer-contact {
    color: white;
    margin: 0 0.5rem;
}

.footer-copyright {
    color: white;
    margin: 1rem 0.5rem;
}
