.login_member {
    background: #ffffff;
    width: 450px;
    color: #033a76;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
}

.login_upper_font {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.login_font {
    margin-top: 10px;
}

.login_inputs {
    border: none;
    border-bottom: 1px solid #015bbb;
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: gray;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: transparent;
    font-size: 16px;
}

.login_Mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_search_info {
    font-size: 12px;
    color: #8d8d8d;
    line-height: 3;
}

/* 작성자: 황인성 */
/* 최종수정 날짜 2022.3.10 */

/* 버튼 */
.login_button {
    border-radius: 20px;
    display: inline-block;
    width: 32%;
    height: 34px;
    font-size: 17px;
    padding: 7px 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    line-height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;

}

.login_button > span {
    display: block;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;

}

.login_button:hover span {
    color: white;


}

.login_button_out {
    text-align: center;

}

.login_button:before,
.login_button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.login_button:before {
    transform: translateX(-100%);

}

.login_button:after {
    transform: translateX(100%);
}

.login_button:hover:before {
    transform: translateX(-45%);

}

.login_button:hover:after {
    transform: translateX(45%);

}

/*----------------------------------*/

.social_box {
    margin-bottom: 30px;
}

.social_google {
    border-radius: 20px;
    background-color: white;
    filter: brightness(85%);
    border-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.social_naver {
    border-radius: 20px;
    background-color: #00c300;
    border-color: #00c300;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.social_kakao {
    background-color: #feec34;
    border-color: #feec34;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
}

.social_facebook {
    background-color: #3a559f;
    border-color: #3a559f;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
}

.social_logo {
    margin-top: 5px;
    width: 25px;
    height: 25px;

}

.social_button {
    width: 300px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

}

.login_end {
    text-align: center;
    font-size: 10px;
}

.login_line {
    color: #bcbcbc;
    font-size: 15px;
    margin-bottom: 35px;
    cursor: pointer;
}

.blue-line-out {
    text-align: center;
    height: 6px;
}

.blue-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(1, 91, 187, 1);
    display: inline-block;
    border-radius: 10px;
}

.yellow-line-out {
    text-align: center;
    height: 6px;
}

.yellow-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(254, 213, 1, 1);
    display: inline-block;
    border-radius: 10px;
}

.blue-line-out {
    margin-top: 15px;
}

.yellow-line-out {
    margin-bottom: 50px;
}