/* 버튼 */
.mypage_btn {
  background-color: #111;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
}

.mypage_btn:hover {
  background-color: #0D6EFD;
  transition: all 0.3s ease-in-out;
}
