.search {
    display: inline;
    margin: 0 auto;
    color: white;

}

.login {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.header {
    text-align: center;
}

.signupp {
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.logoutt {
    font-size: 13px;
    font-weight: bold;
    color: white;
}