.search {
    display: flex;
    align-items: center;
    color: white;
}

.login {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}

.header {
    float: right;
}

.nav-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signupp {
    color: white;
    display: flex;
    align-items: center;
}

.logoutt {
    color: white;
    display: flex;
    align-items: center;
}