.signup_container {
    display: flex;
    justify-content: center;
    margin: 76px 0;
}

.search_signup {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background: #ffffff;
    width: 450px;
    color: #033a76;
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
}

.search_upper_font {
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;

    text-align: center;
    font-weight: bold;

}

.search_font {
    margin-top: 10px;

}

.search_inputs {
    border: none;
    border-bottom: 1px solid #015bbb;
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: gray;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: transparent;
    font-size: 16px;
}

.search_input_valid {
    color: deepskyblue;
    font-size: 12px;
    margin-bottom: 10px;
}

.search_button {
    margin-top: 20px;
    color: #fff;
    /*font-size: 20px;*/
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
    background-color: #0f0f0f;
    line-height: 1px;
    border-style: none;
    margin-bottom: 10px;
}

.search_search {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    float: inherit !important;
    /*margin: 10px ;*/
    margin-bottom: 20px;

}

.blue-line-out {
    text-align: center;
    height: 6px;
}

.blue-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(1, 91, 187, 1);
    display: inline-block;
    border-radius: 10px;
}

.yellow-line-out {
    text-align: center;
    height: 6px;
}

.yellow-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(254, 213, 1, 1);
    display: inline-block;
    border-radius: 10px;
}

.blue-line-out {
    margin-top: 15px;
}

.yellow-line-out {
    margin-bottom: 50px;
}