.signup {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.signup_tab {
    background-color: white;
    justify-content: center;
    color: #033a76;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 40px 30px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;

}

.signup_upper_font {

    flex-direction: column;
    font-size: 30px;
    display: block;
    width: auto;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}

.signup_profile_img {
    margin-left: 180px;
    width: 180px;
    height: 180px;
    box-shadow: 0px 5px 5px 0px #e0e0e0;
}


.signup_profile_upbtn {
    margin-left: 200px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: #044a95;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 15px;
    border-style: none;
    text-align: center;

}

.signup_font {
    margin-top: 8px;
    font-weight: bold;
}

.signup_id_inputs {
    margin-top: 10px;
    border-radius: 2px;
    width: 72%;
    height: 30px;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    border: none;
    color: gray;
    border-bottom: 1px solid #015bbb;

}

.signup_inputs {
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    color: gray;
    border: none;
    border-bottom: 1px solid #015bbb;
    background: transparent;

}

.signup_input_valid {
    margin-top: 3px;
    color: #4e4e4b;
    font-size: 12px;
    margin-bottom: 10px;
}

.signup_idchk_btn {
    width: 25%;
    height: 30px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: #015bbb;
    color: white;
    line-height: 1px;
    border-radius: 3px;
    border-style: none;
    margin-bottom: 10px;

}

.signup_gender_control {
    margin-top: 10px;
    height: 30px;
    font-size: 13px;
    color: gray;
    width: 100%;
    border: 1px solid #e5e5e5;

}

.signup_size_font {
    margin-left: 15px;
    margin-top: 5px;
}

.signup_size_input {
    margin-top: 5px;
    border-radius: 2px;
    width: 35%;
    height: 30px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.signup_summary {
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-inline: 150px;
    font-size: 16px;
    font-weight: bold;
}

.signup_btn {
  
}


/* 작성자: 황인성 */
/* 최종수정 날짜 2022.3.10 */

/* 버튼 */
/* .signup_btn_out {
    text-align: center;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.signup_btn {
  border-radius: 20px;
  display: inline-block;
  width: 32%;
  height: 34px;
  font-size: 17px;
  padding: 7px 15px;
  cursor: pointer;
  background-color: white;
  color: black;
  line-height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.signup_btn:hover {
  color: white;
}

.signup_btn > span {
    display: block;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.signup_btn:hover span {
    color: white;
}

.signup_btn:before,
.signup_btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.signup_btn:before {
    transform: translateX(-100%);

}

.signup_btn:after {
    transform: translateX(100%);
}

.signup_btn:hover:before {
    transform: translateX(-45%);

}

.signup_btn:hover:after {
    transform: translateX(45%);

} */

/*-------------------------------*/

.term_form {

    width: 350px;
    margin-inline: 100px;

}

.term_font {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.chk_font {
    font-size: 15px;
}

.term_low_font {
    margin-top: 5px;
    font-size: 13px;
    margin-inline: 10px;
    margin-bottom: 5px;
    color: gray;
}

.chk_font_blue {
    color: deepskyblue;
    text-align: right;
    margin-left: 3px;
}

.chk_font_gray {
    color: gray;
    text-align: right;
    margin-left: 3px;
}

.blue-line-out {
    text-align: center;
    height: 6px;
}

.blue-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(1, 91, 187, 1);
    display: inline-block;
    border-radius: 10px;
}

.yellow-line-out {
    text-align: center;
    height: 6px;
}

.yellow-line-in {
    width: 100%;
    height: 6px;
    background-color: rgba(254, 213, 1, 1);
    display: inline-block;
    border-radius: 10px;
}

.blue-line-out {
    margin-top: 15px;
}

.yellow-line-out {
    margin-bottom: 50px;
}