:root {
  --font-size : 20px;
  --border-bottom: 1px solid grey;
  --input-box-width: 700px; 
  --input-box-height: 50px;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

img {
  width: 300px;
  height: 270px;
}

div {
  margin: 5px;
}
.upload-box {
  border-bottom: var(--border-bottom);
  width: var(--input-box-width);
}

.file-uploader {
  color: grey;
  cursor: pointer;
}

.file-image {
  width: 300px;
  height: 300px;
  margin-right: 3rem;
}

.file-name {
  margin: 5px 10px;
}

input {
  border: none;
  border-bottom: var(--border-bottom);
  width: var(--input-box-width);
  height: var(--input-box-height);
  font-size: var(--font-size);
  padding: 0.5rem 0;
}

textarea {
  border: none;
  border-bottom: var(--border-bottom);
  width: var(--input-box-width);
  height: carc(var(--input-box-height * 4));
  font-size: var(--font-size);
  padding: 0.5rem 0;
}

.hashtag-container {
  width: var(--input-box-width);
  border-bottom: var(--border-bottom);
}

.hashtag-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
}

.hashtag {
  font-size: var(--font-size);
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  border-radius: 5rem;
}

.hashtag-input {
  width: 100%;
  padding: 0;
  border: none;
}

.button {
  border: none;
  background-color: transparent;
  color: orange;
}

.button:hover {
  cursor: pointer;
}

.share-box {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.share {
  border: 1px solid blue;
  border-radius: 1rem;
  background-color: white;
  color: blue;
  font-size: var(--font-size);
  text-decoration: none;
  padding: 10px 20px;
  transition: 300ms ease-in-out;
}

.share:hover {
  background-color: blue;
  color: white;
}
